.preview/
node_modules/
resources/
public/
.hugo_build.lock
hugo_stats.json
Thumbs.db

_test/
static/fonts/Noto-Sans-SC-700.woff2
static/fonts/Noto-Sans-SC-regular.woff2
static/fonts/Noto-Sans-JP-700.woff2
static/fonts/Noto-Sans-JP-regular.woff2
static/fonts/Noto-Serif-SC-500.woff2
static/fonts/Noto-Serif-SC-700.woff2

# notion-import
.env