{{ define "main" }}

<section class="min-h-screen flex flex-col relative z-10 bg-color-white">

  <div class="w-full flex-1 relative z-10 pt-0 lg:pt-28 pb-0 md:pb-32">

    <div class="w-full max-w-400 mx-auto px-6 md:px-12 lg:px-16 flex flex-col lg:flex-row gap-18 lg:gap-24 items-start">

      {{/*  ------------ 左 ------------  */}}
      <div class="lg:w-[35%] w-full flex flex-col z-20">

        <div class="w-full mb-12 md:mb-16">

          <div class="hidden lg:flex w-full">

            <div class="flex flex-col justify-between items-center border-r-[0.5px] border-color-black/20 pr-5 xl:pr-6 py-1">

              <span class="font-mono text-[9px] xl:text-[10px] tracking-tight xl:tracking-[0.03em] text-color-black/30 uppercase mb-10 select-none">
                ////
              </span>

              <h1 class="font-bgsans text-[42px] xl:text-[48px] leading-[0.8] uppercase text-color-black font-bold select-none"
                  style="writing-mode: vertical-rl; transform: rotate(180deg);">
                Discography
              </h1>

            </div>

            <div class="flex-1 flex flex-col justify-end pl-6 pb-1">

              {{/*  黑胶  */}}
              <div class="vinyl-record w-full aspect-square rounded-full border border-color-black/10 relative overflow-hidden mb-5 xl:mb-12">

                <div class="absolute inset-0 bg-color-black rounded-full"
                    style="background-image: repeating-radial-gradient(circle at center, transparent 0, transparent 1px, rgba(255, 255, 255, 0.03) 2px, transparent 3px);">
                </div>

                <div class="absolute inset-[35%] rounded-full bg-color-white/80 flex items-center justify-center border-[0.5px] border-color-gray">
                  <div class="w-[8px] h-[8px] bg-color-black/10 rounded-full"></div>
                </div>

              </div>

              <div class="w-1.5 h-1.5 bg-color-black mb-5"></div>

              <p class="font-primary text-[13px] text-color-black/50 leading-relaxed max-w-[85%] select-none">
                A collection of original releases and guest appearances. <br class="hidden 2xl:inline" />
                More to come & Thanks for listening :)
              </p>

            </div>
          </div>
        </div>

        {{/*  Filter  */}}
        <div class="flex flex-col border-y-[0.5px] border-color-black/20">

          <button class="filter-btn active" data-filter="Releases">
            <span class="index">01 // Independent solo works</span>
            <span class="title">RELEASES</span>
          </button>

          <button class="filter-btn" data-filter="Participations">
            <span class="index">02 // Tracks on external releases</span>
            <span class="title">PARTICIPATIONS</span>
          </button>

        </div>

      </div>

      {{/*  ------------ 右 ------------  */}}
      <div class="lg:w-[65%] w-full flex flex-col pt-0 -mt-5 md:mt-0">

        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 gap-x-6 md:gap-x-12 gap-y-12 md:gap-y-24" id="discography-grid">

          {{ range where .Site.RegularPages "Section" "discography" }}
            <div class="disco-item" data-category="{{ .Params.category }}">
              <a href="{{ .RelPermalink }}" class="block group relative w-full">

                {{/*  元数据  */}}
                <div class="flex justify-between items-end border-b-[0.5px] border-color-black/25 group-hover:border-color-black/50 transition-colors duration-500 ease-out pb-1 md:pb-2 mb-3 md:mb-4">

                  <span class="font-mono text-[8px] md:text-[10px] tracking-[0.08em] text-color-black/50 group-hover:text-color-black/80 transition-colors duration-500 ease-out">
                    <span class="hidden md:inline">{{ .Date.Format "2006.01.02" }}</span>
                    <span class="inline md:hidden">{{ .Date.Format "06/01/02" }}</span>
                  </span>

                  <span class="font-mono text-[8px] md:text-[10px] tracking-wide md:tracking-[0.2em] uppercase text-color-black/25 group-hover:text-color-black/80 transition-colors duration-500 ease-out">
                    {{ if .Params.catalog }}{{ .Params.catalog }}{{ else }}XXXX-XXX{{ end }}
                  </span>

                </div>

                {{/*  封面  */}}
                <div class="relative w-full aspect-square bg-color-black/4 overflow-hidden">
                  <img src="{{ .Params.image }}" alt="{{ .Title }}"
                       class="w-full h-full object-cover md:filter md:grayscale md:contrast-125 md:brightness-90 md:group-hover:grayscale-0 md:group-hover:contrast-100 md:group-hover:brightness-100 md:transition-all md:duration-500 md:ease-out">

                  <div class="absolute inset-0 md:border-[1.5px] border border-color-black/70 pointer-events-none z-10"></div>

                </div>

                {{/*  标题、指示器  */}}
                <div class="mt-4 md:mt-5 flex flex-col items-start w-full pr-2">
                  <div class="flex items-start relative w-full">

                    <span class="absolute left-[-12px] top-[8px] w-[3px] h-[3px] bg-color-red opacity-0 group-hover:opacity-100 transform -translate-x-2 group-hover:translate-x-0 transition-all duration-500 ease-out"></span>

                    <h3 class="font-secondary text-[18px] md:text-[21px] xl:text-[19px] 2xl:text-[22px] font-bold -tracking-[0.02em] leading-[1.1] text-left text-color-black">
                      {{ .Title }}
                    </h3>

                  </div>

                  {{ if eq .Params.category "Participations" }}

                    {{ if .Params.from_album }}
                      <p class="font-primary text-[10px] sm:text-[13px] text-color-black/40 tracking-wide text-left mt-2 md:mt-3 line-clamp-2 leading-relaxed">
                        From「{{ .Params.from_album }}」
                      </p>
                    {{ end }}

                  {{ end }}
                </div>

              </a>
            </div>
          {{ end }}
        </div>

        {{/*  分页器  */}}
        <div class="flex w-full justify-center lg:justify-start mt-28 md:mt-40 mb-16 px-2">
          <div id="pagination-ctrls" class="flex items-center space-x-2"></div>
        </div>

      </div>

    </div>
  </div>
</section>

{{ $js := resources.Get "js/disco-controller.js" }}
{{ if hugo.IsProduction }}
  {{ $js = $js | minify | fingerprint }}
{{ end }}
<script src="{{ $js.RelPermalink }}" {{ if hugo.IsProduction }}integrity="{{ $js.Data.Integrity }}"{{ end }}></script>

{{ end }}